@import "partials/variables";
body {
   font-family: $font-family;hr{
            margin:0;
        }
}
.head{
    position:sticky!important;
    font-size: 15px;
}
#header{

.navbar-nav{
        
        .menu-item{
           
           .nav-item{
               transition:  all .3s;
               
               &:hover{
                   color:  $font-color !important;
               }
           }
            display: flex;
   #shopping-cart1{
       position: relative;
       .shopping-cart-items{
        position: absolute;
        z-index: 1;
        background:  $font-color;
        border-radius: 50%;
        
        font-size: 9px;
        font-weight: 600;
        height: 13px;
        line-height: 10px;
        padding: 2px 4px;
        right: 3px;
        top: 4px;
        width: 13px;
       }
       .shopping-content{
        right: -26px;
        margin-top: -8px;
        .my_cart-shopping{
            min-width: 246px;
            width: 100%;
            position: relative;
            .cart-item{
                margin-top: 8px;
                display: inline-table;
                width: 100%;

                .cart-img{
                    width: 50px;
                     height: 50px;
                      float: left;
                     overflow: hidden;
                   border-radius: 4px;
                   img{
                    width: 100%;
                    vertical-align: middle;
                    border-style: none;
                   }
                }
                .cart-product-meta{
                    float: left;
                    padding-left: 20px;
                }
                .cart-item-remove{
                    width: 20px;
                    float: right;
                    font-size: 12px;
                }
            }
        }
       }
   }


.menu_large{
    list-style: none; 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    box-shadow: 0 33px 32px rgba(0,0,0,.1);
    background-color: $font-white;
    padding: 0px;
    top: 75px;
    display: none;
  
    .text-lg{
        font-size: 90px;
        line-height: 100px;
        font-weight: 800;
    }
.text-sale{
    color:  $font-color!important;
    margin: 0;
    letter-spacing: .5px;
    
    small{
        font-weight: 100;
        font-size: 80%;
        opacity: 0.4;
    }
}

.shadow{
    box-shadow: 0 4px 16px #efefef;
    background-color: $font-white;
    border-color: #ebebeb;
    color: #4c5667;
}

    .large_text{
        font-size: 62px;
        font-weight: 100;
        position: relative;
        text-align: left;
        width: 100%;

        strong{
            color:  $font-color;
        }
    }
.col-lg-2-5{
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;

}    

    .li-menu-title{
        font-size: 13px;
        line-height: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 12px;
    
    }
    
    ul{
        padding: 0;
        li{
            list-style: none;
            
            a{
                text-decoration: none;
                padding: 10px 0;
                font-size: 12px;
                line-height: 14px;
                 font-weight: 500;
                 font-style: normal;
                    color: #444;
                    i{
                        padding: 0px 10px;
                    }
                &:hover{
                    color:  $font-color !important;
                }
            }
        }
    }

    

}



            a{
                display: block;
                padding: 10px;
                color: #212529;
                

            }
            .fas{
                color: #212529;
                
            }
            .menu{
               
                list-style: none; 
                position: absolute;
                left: auto;
                margin: 0;
                margin-top: -6px;
                border-radius: 4px;
                box-shadow: 0 33px 32px rgba(0,0,0,.1);
                background-color: $font-white;
                padding: 0px;
                top: 75px;
                display: none;
                min-width: 230px;
               

                .submenu-item{
                    
                            a{
                                display: block;
                                text-decoration: none;
                                color: #212529;
                            }
                            position: relative;
                    .submenu{

                        list-style: none; 
                        left: auto;
                        margin: 0;
                        margin-top: -6px;
                        border-radius: 4px;
                        box-shadow: 0 33px 32px rgba(0,0,0,.1);
                        padding: 10px;
                        position: absolute;
                        display: none;
                        top:10px;
                        left: 100%;
                        background-color: $font-white;
                        min-width: 230px;
                        
                    }
                    &:hover{

                        .submenu{
                            display: inline-block;
                           
                        }
                        
                      
                    }


                  
                }
                .badge{
                    font-size: 8px;
                    line-height: 9px;
                    margin: 5px 8px;
                    color: $font-white;
                    align-self: flex-start;
                    padding: 3px;
                   
                }
                   } 
                   .menu-icon-head{
                    right: 2px;
                    padding: 2px 8px;
                    min-width: 170px;
                    list-style: none; 
                    position: absolute;
                    left: auto;
                    margin: 0;
                    margin-top: -6px;
                    border-radius: 4px;
                    box-shadow: 0 33px 32px rgba(0,0,0,.1);
                    background-color: $font-white;
                    top: 75px;
                    display: none;

                    
                   }
                

            &:hover{
                .menu{
                    display: block;
                    
                   
                }
                .menu-icon-head{
                    display: block;
                    a{
                        color:  $font-color;
                        text-decoration: none;
                    }
                }
                .menu_large{
                    display: block;
                    ul{
                        padding: 15px;
                    }
                }
                
            }
        }
    
        .nav-link{
            
           
            img{
            
       &:hover{
           color:$font-color !important;
       }
    }
        }
    }
}

#slider{
    h1{
        font-size: 73px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 30px;
        color: $font-white;
        letter-spacing: .5px;
    }
    p{
   color: $font-white;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    letter-spacing: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    }

    .btn{
        border-radius: 5px 5px 5px 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        outline: 0;
        padding: 10px 18px;
        position: relative;
        text-transform: uppercase;
        background-color:  $font-color;
        border-color:  $font-color;
        border-width: 1px;
        border-style: solid;
        color: $font-white;
        margin-bottom: 6px;
        outline: 0;
        line-height: 14px;
    }
    
    .bd-example{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 0;
        
        z-index: 1;
    
        .slide{
            
            .carousel-inner{
            
                .fadeInUp{
                    // animation-name: fadeInUp;
                    
                }
            }
        }
    }
}

#headding_text{
    h1{
    position: relative;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
    color: #1f1f1f;
    letter-spacing: .5px;
    text-align: center !important;
    margin-top: 60px;

    }
    hr{
        position: absolute;
        height: 2px;
        width: 100px;
        background-color:  $font-color;
        margin-top: -30px;
        left: 0;
        right:0;
    }
    p{
        font-size: 19px;
        text-align: center;
        margin-top: 30px;
        font-weight: 300
    }
}
#polo_img{
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInUp{
    animation-name: fadeInUp;
    text-align: center;
}
.visible{
    .img-fluid{
        max-width: 100%;
        height: auto;
    
    }
}
}

#feature{
    background-color: #f7f9fb;
    h1{
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 60px;
        color: #1f1f1f;
        letter-spacing: .5px;
        margin-top: 60px;
    
        }
        hr{
           position: absolute;
            height: 2px;
            width: 100px;
            background-color:  $font-color;
            margin-top: 10%;
        }
        span{
            font-size: 19px;
            font-weight: 300;
            position: absolute;
            margin-top: 12%;
        
        }
        h4{
            color: #1f1f1f;
            margin: 0;
            letter-spacing: .5px;
        
        }
        p{
        margin-top: 5px;
        }
}

#recent_work{
    h1{
        line-height: 56px;
        margin-bottom: 60px;
        color: #1f1f1f;
        letter-spacing: .5px;
        margin-top: 60px;
    }
    hr{
        position: absolute;
        height: 2px;
        width: 100px;
        background-color:  $font-color;
        bottom: 20px
    
    }
    span{
        font-size: 19px;
        font-weight: 300;
        position: absolute;
        bottom: -70px;
    }

    .portfolio{
        .col-lg-3{
            padding: 0;
            margin: 0;
        }
        .hover1{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0 -25px;
            overflow: hidden !important;
            &:hover{

                img{
                    transform: scale(1.5,1.5);
                    transition: 1s;
                    overflow: hidden;
                }
                .cover{
                    display: block;
                }
                a{
                    display: block;
                    &:hover{
                       .icon{ background-color:  $font-color;
                        color: $font-white;
                       }
                    }
                }
            }

        
        a{
            position: absolute;
            top: 40%;
            left: 38%;
            text-decoration: none;
            display: none;
            h3{
                
                color: $font-white;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 18px;
                text-transform: uppercase;
                margin-bottom: 4px;
            }
            span{
                font-size: 14px;
                font-weight: 500;
                position: absolute;
                margin: 43px -14px;
                color:  $font-white;
            }
            .icon{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color:  $font-white;
                color: #565656;
                text-align: center;
                padding: 10px 0;

               
            }
            
           
        }
        
       
        img{
           
            width: 98%;
            height: 98%;
            box-sizing: border-box;
           cursor: pointer;
           overflow: hidden;
            
        }
        .cover{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.7;
            display: none;
            
        }
    }
    }
}

#service{
  
  
    h1{
        font-size: 48px;
    line-height: 56px;
    color: #1f1f1f;
    letter-spacing: .5px;
    text-align: center !important;
    margin-top: 10%;
    
        }
        hr{
            height: 2px;
            width: 100px;
            background-color:  $font-color;
            margin-top: 2%;
            margin-left: 46%
           
        }
        p{
            font-size: 19px;
            text-align: center !important;
             font-weight: 300;
             margin-left: 10%;
             color: #777;
              margin-top: 2%;
        }
.item{

    &:hover{
        .icon{
            i{
          width: 50px;
          height: 50px;
          transition: .5s;
         padding-top: 3%;
         
            
            }
        }
    }
    .icon{
        i{
            text-align: center;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 5px;
            border-radius: 50%;
            border: 3px solid;
            padding: 9px;
           

        }
    }
    h3{
 margin: 0 12px 10px 84px;
 font-size: 18px;
 line-height: 25px;
 font-weight: 700;
    }
    p{
        font-size: 14px;
        line-height: 1.6;
    font-size: 14px;
        margin: 0 0px 20px 84px;
    }
}
      
}

#parallax{

    background-image: url(../img/12.jpg);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-top: 150px!important; 
    z-index: -100;
    background-size: cover!important;
    left: 0;
    overflow: hidden;
    .overly{
        width: 100%;
        height:500px;
        background-image: url(../img/overlay-pattern-1.png);
        position: absolute;
        top: 0;
        left: 0;
    }
    .text{
        box-sizing: border-box;
        color:  $font-white !important;
        margin-bottom: 60%;
        margin-left: 45px;
       
        i{
            font-weight: 900;
            font-size: 3em;
            font-style: normal;
        }
        span{
            position: absolute;
             top: 53px;
             left: 60px;
             font-weight: 300;
             font-size: 30px
        }
        hr{
            width: 10%;
            position: absolute;  
            height: 1px;
            background-color:  $font-white;
            top: 42%;
            left: 27%;
        }
        p{
            text-align: center !important;
            position: absolute;
            top: 55%;
            left: 50px
        }
    }
}

#our_blog{
    h1{
        line-height: 56px;
        margin-bottom: 60px;
        color: #1f1f1f;
        letter-spacing: .5px;
        margin-top: 60px;
    }
    hr{
        position: absolute;
        height: 2px;
        width: 100px;
        background-color:  $font-color;
        bottom: 110px;
    
    }
    span{
        font-size: 19px;
        font-weight: 300;
        position: absolute;
        bottom: -70px;
      
    }
    .post_item{
       
        background-color:  $font-white;
        position: relative;   
        top: 0;
        left: 0;
        .post_image{
           
            a{
                position: relative;
                img{
                width: 100%;
                }
            }
            span{
                position: absolute; 
                background-color:  $font-color;
                color:  $font-white;
                font-size: 13px;
                padding: 2px 16px;
                border-radius: 50px;
                bottom: 90px;
                right: 10px;
                
            }
        }
        .post_discription{
            position: relative;
            .date{
                color: #c2c2c2;
             position: absolute;
             top: -10px;
             font-size: 12px;
            margin-right: 8px;
            left: 5px;
            }
            .post_commnets{
                color: #c2c2c2;
             position: absolute;
             top: -10px;
             font-size: 12px;
             left: 85px;
            a{
                color: #c2c2c2; 
                text-decoration: none;
            }

            }
            h2{
                margin-top: 20px;
                a{
                    font-size: 18px;
                    letter-spacing: -.1px;
                    line-height: 23px;
                    margin-bottom: 19px;
                    color: #444;
                    font-weight: 600;
                    text-decoration: none;
                    letter-spacing: -.1px;
                }
            }
            p{
                line-height: 28px;
                color: #676767;
            }
            .item_link{
                color: #565656;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase!important;
                cursor: pointer;
                 &:hover{
                    color:  $font-color;
                    text-decoration: none;
                    i{
                        padding: 0 0 0 5px;
                    }
                 }            
            }
        }
    }
}

#client{
    
    h1{
        font-size: 48px;
    line-height: 56px;
    color: #1f1f1f;
    letter-spacing: .5px;
    text-align: center !important;
    margin-top: 10%;
    
        }
        hr{
            height: 2px;
            width: 100px;
            background-color:  $font-color;
            margin-top: 2%;
            margin-left: 46%
           
        }
        p{
            font-size: 19px;
            text-align: center !important;
             font-weight: 300;
             margin-left: 10%;
             color: #777;
              margin-top: 2%;
        }
}



#personal{
    background-color: #f7f9fb;
    h1{
        font-size: 48px;
    line-height: 56px;
    color: #1f1f1f;
    letter-spacing: .5px;
    text-align: center !important;
    margin-top: 10%;
    
        }
        hr{
            height: 2px;
            width: 100px;
            background-color:  $font-color;
            margin-top: 2%;
            margin-left: 46%
           
        }
        p{
            font-size: 19px;
            text-align: center !important;
             font-weight: 300;
             margin-left: 10%;
             color: #777;
              margin-top: 2%;
        }
        .content{

            background-color:  $font-white!important;
            text-align: center;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            border-radius: 4px;
            border: 1px solid  $font-white;
            padding-bottom: 20px;
        span{
            left: 28px;
           top: 0;
        }
            .team_img{
                img{
                    width: 100%;
                    border-radius: 4px;
                }
            }
            h2{

                font-size: 16px;
                line-height: 22px;
                color: #1f1f1f;
                 margin: 0;
               letter-spacing: .5px;
               text-align: center;
            }
            span{
                font-size: 13px;
                text-align: center;
                color: #bbb;
                line-height: 18px;
                display: none;
            }
            p{
                font-style: normal;
                font-weight: 400;
            
                line-height: 1.6;
               
                color: #777;
                margin-top: 10px;
                font-size: 14px;
            }
            
             .align-center{
                display: inline-flex;
                text-align: center;
                a{ 
                    padding: 0px;
                    border:  2px solid  $font-white !important;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    &:hover{
                        position: relative;
                        width: 100px;
                        background-color: #bbb;
                      border-radius: 15px 15px 15px 15px ;
                     i{
                        position: absolute;
                        left: 10px;
                        top: 5px;
                        transition: all 0.5s;
                        transform: rotate(360deg);
                     }
                     span{
                        display: block;
                        position: absolute;
                        left: 10px;
                        top: 5px;
                     }
                    }
             
                    span{
                        top: 0;
                        left: 28px;
                        font-size: 13px;
                        color: #bbb;
                        width: 100px;
                        line-height: 18px;
                        display: none;
                    }
                .btn{
                     display: flex;
                    line-height: 26px;
                    color: #565656;
                    height: 30px;
                    border-radius: 50%;
                   
                }
                .btn-light{
                    background-color:  $font-white;
                    border-color: #ebebeb;
                    color: #4c5667;
                    
                }
                    .btn-slide{
                        border-radius: 50px;
                        display: table-cell;  
                        padding: 22px;
                        position: relative;
                        transition: width .4s ease 0s,"background" .4s ease 0s;
                        width: 46px;
                        line-height: 18px;

                      
                           }
                          .btn-xs{
                            font-size: 10px;
                            height: 24px;
                            line-height: 22px;
                            i{
                              
                                
                            }
                            
                           }
                    }
                }
             }

        }
#footer{
    display: block;
    position: relative;
    background-color: #f8f9fa;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    .foter-content{
        padding: 60px 0 40px;

        .widget{

            margin-bottom: 30px;
            position: relative;
           
            top: 0;
            left: 0;
            
            .widget-title{
                font-size: 14px;
                letter-spacing: 1px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 24px;
                margin-bottom: 20px;
             
            
            }
            p{

            }
            .btn{
            
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 18px;
    position: relative;
    text-transform: uppercase;
    background-color:  $font-color;
    border-color:  $font-color;
    border-width: 1px;
    border-style: solid;
    color:  $font-white;
    transition: all .3s;
    margin-bottom: 6px;
    outline: 0;
    line-height: 14px;
            }
            .list{
                list-style: none;
                padding: 0;
                li{
                    a{
                        color: #565656 !important;
                        &:hover{
                            text-decoration: none;
                            color:  $font-color !important;
                        }
                }
            }
                
            }
        }
    }
    .copyright-content{
        min-height: 80px;
        padding: 30px 0;
        background-color: #eff1f4;
        font-size: 13px;
        text-align: center!important;
        .text-center{
            a{
                color: #565656 !important;
                text-decoration: none; 
            }
        }
    }
}

// bottomTop start
#scrollTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: gray;
    position: fixed;
    right: 26px;
    bottom: 26px;
    line-height: 0;
  &:hover{
      background-color:  $font-color;
     i{
        animation-name: move;
        animation-duration: .2s;
     }
  }
   

    
    i{
        position: absolute;
        top: 15px;
        left: 17px;
        color:  $font-white;
        line-height: 20p
    }
    
// index.html end
}

@keyframes move{
    from{
        line-height: 70px;
    }
    to{
        line-height: 20px;
    }
}



// lahiye2.html start

#title{
      
    padding: 80px 0;
    background-color: #f8f9fa;
    position: relative;

    .page_title{
        text-align: center;
        padding: 0;
    
        h1{
            font-size: 44px;
            line-height: 56px;
            font-weight: 400;
            margin-bottom: 10px;

            span{
                font-weight: 400;
                font-size: 14px;
   
            }
        }
    }
    .icon{
        text-align: center;
        
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .5px;
        margin-bottom: 10px;
        display: block;

    
        ul{
            display: inline;
            margin: 0;
            padding: 0;
        li {
                display: inline;
                position: relative;
                opacity: .8;
                a{
                    color: #565656;
                    text-decoration: none;
                }
            }
            
        }
    }
}

#content{
    padding: 40px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color:  $font-white;
    
    .sidebar{
        label{
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .5px;
            margin-left: 40px;
        }
        ul{
            li{
                padding: 0;
                display: block;
                font-size: 14px;

                a{
                    color: #565656;
                }
            }
        }
    }
    
    .right{
        .line{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border: 1px solid red;
            margin: 30px 0;
            
        }
    }
    
    //lahiye2.html end
}


//accordion.html start
.accordion{
    width: 100%;
    margin: 0 auto;

    .section1{
        border: 1px solid #ececec;
        margin-bottom: 10px;
        padding: 12px 20px;
         border-radius: 5px
    }
    .accordion_shadow{
        box-shadow: 0 6px 38px rgba(0,0,0,.05);
    }

    .accordion_simple{
        border:none;
        border-bottom: 1px solid #ececec;
    }
    .accordion_flat{
        border:none;
       
    }

    .dark{
        .title{
            &:hover{
                background-color: #1f1f1f !important;
            }
        }
       border: none;
        background-color: #1f1f1f;
       h5,i{
        color: #e3e3e3 !important;
       
       }
       
    }

    .theme{
        .title{
            &:hover{
                background-color:  $font-color!important;
            }
        }
       border: none;
        background-color:  $font-color;
       h5,i{
        color: #e3e3e3 !important;
       
       }
       
    }


    .title{
     display: flex;
    justify-content: space-between;
    color: #1f1f1f;
    transition: background-color 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 4px 12px;
    border-radius: 5px;
      
    h5{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;

        }
    &:hover{
        background-color:  $font-white;
    }
    }
    .content{
        box-sizing: border-box;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    p{
        padding: 0 20px;
    letter-spacing: 0.5px;
    }
    }
    .line{
        width: 100%;
        border: 1px solid #e3e3e3;
        margin: 30px 0;
    }
}
.active {
    background-color:  $font-white !important;
    //accordion.html end
}
  

// //button.html start



#heading_title{
    position: relative;
    width: 100%;
    height: 40px;
    .right{
        position: absolute;
        top: 10px;
        left: 20px;
        a{
            text-decoration: none;
            display: flex;
            color: #1d2124;
            font-size: 11px;
           
            .phone{
                &:hover{
                    color:  $font-color;
                    }
            }
            .email{
                margin-left: 20px;
                &:hover{
                    color:  $font-color;
                    }
            }
        }
    }
    

    .left{
        position: absolute;
        top: 10px;
        right: 20px;
        
        .icons{
            
            text-align: center;
            
            ul{
                list-style: none;
                display: flex;
                li{
                    a{  
                        position: relative;
                        display: inline-block;
                        font-size: 18px;
                        width: 40px;
                        height: 40px;
                        line-height: 30px;
                        color: #171515 !important;
                        padding-bottom: 5px;

                        &:hover{
                            i{
                                background-color: #007ee5;
                                animation-name: move_icon;
                                animation-duration: .1s;
                                color:  $font-white;
                
                            }
                        }
                         
                       i{  
                           height: 100%;
                           padding-top: 7px;
                           padding: 5px;
                       }
                    }
                }
            } 
        }
    }
}

@keyframes move_icon{
    from{
        line-height: 80px;
    }
    to{
        line-height: 30px
    }
}

#title{
      
    padding: 80px 0;
    background-color: #f8f9fa;
    position: relative;

    .page_title{
        text-align: center;
        padding: 0;
    
        h1{
            font-size: 44px;
            line-height: 56px;
            font-weight: 400;
            margin-bottom: 10px;

            span{
                font-weight: 400;
                font-size: 14px;
   
            }
        }
    }
    .icon{
        text-align: center;
        
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .5px;
        margin-bottom: 10px;
        display: block;

    
        ul{
            display: inline;
            margin: 0;
            padding: 0;
        li {
                display: inline;
                position: relative;
                opacity: .8;
                a{
                    color: #565656;
                    text-decoration: none;
                }
            }
            
        }
    }
}

#content{
    position: relative;
    width: 100%; 
    

    .sidebar{
        label{
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .5px;
            margin-left: 40px;
        }
        ul{
            li{
                padding: 0;
                display: block;
                font-size: 14px;

                a{
                    color: #565656;
                }
            }
        }
    }
    .item{
        h4{
            color: #1f1f1f;
            margin: 0;
            letter-spacing: .5px;
        }
        }
        .btn{
            border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px 18px;
    position: relative;
    text-transform: uppercase;
    border-color:  $font-color;
    border-width: 1px;
    border-style: solid;
    transition: all .3s;
    margin-bottom: 6px;
    outline: 0;
    line-height: 14px;
        &:hover{
            background-color:   $font-color;
            color:  $font-white;
        }
    }

    .line{
        clear: both;
        position: relative;
        width: 100%;
        margin: 50px 0;
        border-top: 1px solid #e3e3e3;
    }

    .btn-light{
        background-color:  $font-white;
        border-color: #ebebeb;
        color: #4c5667;        
        &:hover{
            border-color: #ebedf2;
            background-color: #f4f5f8;
            color: #4c5667;        }
    }

    .btn-dark{
        border-radius: 5px;
        background-color: #000;
        border-color: #000;
        &:hover{
         color:  $font-white;
         background-color: #23272b;
          border-color: #1d2124;
        }
    }

    .btn-outline{
       
        border-radius: 5px 5px 5px 5px;
         font-size: 12px; 
         font-weight: 600; 
        letter-spacing: 1px;
        outline: 0;
        padding: 10px 18px;
        position: relative;
        text-transform: uppercase;
        background-color: transparent;
        border-color:  $font-color;
        border-width: 1px;
        border-style: solid;
        color:  $font-color;
        transition: all .3s;
        margin-bottom: 6px;
        outline: 0;
        line-height: 14px;

    }
    .btn-rounded{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        outline: 0;
        padding: 10px 18px;
        position: relative;
        text-transform: uppercase;
        border-style: solid;
        transition: all .3s;
        margin-bottom: 6px;
        outline: 0;
        line-height: 14px;
        border-radius: 2em!important;
       
        &:hover{
            
        }
    }

    .btn-shadow{
        box-shadow: 0 4px 16px #efefef;
    }

    .btn-icon-holder{
        padding-right: 20px;

        i{
            border-left: 1px solid;
            height: 100%;
            margin-left: 30px;
            margin-right: -2px; 
            padding: 5px;
            
        }
    }

    .text_special{
        font-size: 50px!important;
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 20px;
    
    }
    .text_build{
    margin-top: 40px;
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    }
    .btn-creative{
        padding: 24px 40px;
        font-size: 15px;
        font-weight: 600;
    }
    .btn-light-hover{
        right: 58px;
    }

    .btn-light{
        background-color: #fff;
    border-color: #ebebeb;
    color: #4c5667;
    }

    .btn-facebook{
        background-color: #3b5998!important;
        color:  $font-white!important;
        border-width: 0
    }
    .btn-twitter{
        background-color: #00aced!important;
        color:  $font-white!important;
        border-width: 0;
    }

    .btn-linkedin{
        background-color: #007bb6!important;
        color:  $font-white!important;
        border-width: 0;
    }

    .btn-dribbble{
        background-color: #ea4c89!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-googleplus{
        background-color: #dd4b39!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-instagram{
        background-color: #517fa4!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-pinterest{
        background-color: #cb2027!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-dropbox{
        background-color: #007ee5!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-flickr{
        background-color: #ff0084!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-tumblr{
        background-color: #32506d!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-skype{
        background-color: #00aff0!important;
    color:  $font-white!important;
    border-width: 0;
    }
    .btn-youtube{
        background-color: #b00!important;
        color:  $font-white!important;
        border-width: 0;
    }
    .btn-githup{
        background-color: #171515!important;
        color:  $font-white!important;
        border-width: 0;
    }
    


//button.html end

}

//img.html start
#title{
      
    padding: 80px 0;
    background-color: #f8f9fa;
    position: relative;

    .page_title{
        text-align: center;
        padding: 0;
    
        h1{
            font-size: 44px;
            line-height: 56px;
            font-weight: 400;
            margin-bottom: 10px;

            span{
                font-weight: 400;
                font-size: 14px;
   
            }
        }
    }
    .icon{
        text-align: center;
        
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .5px;
        margin-bottom: 10px;
        display: block;

    
        ul{
            display: inline;
            margin: 0;
            padding: 0;
        li {
                display: inline;
                position: relative;
                opacity: .8;
                a{
                    color: #565656;
                    text-decoration: none;
                }
            }
            
        }
    }
}


#main{
    .item{
    h2{
        margin: 30px 0;
    }
    p{
        margin-top: 20px;
    }
    .fuild{
        max-width: 100%;
        height: auto;
    }
    .rounded{
border-radius: 5px !important;
    }
    .rounded-circle{
        border-radius: 50% !important;
    }

    .rounded-Thumbnail{
        padding: .25rem;
        background-color:  $font-white;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }
}
//img.html end
}


//date.html start

.date_title{ 
    position: relative;
    background-color:  $font-white;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    height: 52px;
    line-height: 48px;
    nav{
        background-color:  $font-white;
        text-align: center;
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
   
    li{
        transition: all .3s ease;
        position: relative;
        border: 0;
        display: inline-block;
        float: none;
        padding: 0 2px;
        
        a{
            position: relative;
            padding: 6px 16px;
            font-size: 13px;
            line-height: 12px;
            color: #565656;
            border-radius: 50px;
            transition: all .2s ease;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            font-weight: 500;
            &:hover{
                color: #007ee5;
                text-decoration: none;
            }
        
        }
    }
    }
}
}

.input{
    position: relative;
    .input_content{
        border-radius: 0;
        box-shadow: none;
        line-height: 18px;
        padding: 10px 16px;
        border-radius: 5px;
        border: 1px solid #ececec;
        font-size: 1rem
    }

    .icon_calendar{
        font-size: 40px;
        position: absolute;
        top: 30px;
        right: 1px;
        background-color: #e9ecef;
        color: tan;
    }
}
#data-table{
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    height: 52px;
    line-height: 48px;
    nav{
        background-color: #fff;
        text-align: center;
    .menyu-ul{
        display: flex;
        list-style: none;
        position: absolute;
        left: 21%;
        .menyu-li{
            margin: 6px 0 0 20px;

            &:hover{
                .menu-small{
                    display: block;
                }
            }
          .menyu-a{
              color: #1d2124;
              text-decoration: none;
              
              font-size: 14px;
              &:hover{
                  color: #007bb6;
                  
              }
          }
        }

        .menu-small{
            position: absolute;
            left: auto;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 33px 32px;
            background-color: white;
            top: 57px;
             display: none; 
            min-width: 195px;
            list-style: none;
            margin: -6px 0px 0px;
            border-radius: 4px;
            padding: 0px;
            text-align: left;
            padding-left: 20px;

            a{
          text-decoration: none;
          color: #1d2124;
            }
           
        }
    }
    }
}