body {
  font-family: "Poppins", sans-serif; }
  body hr {
    margin: 0; }

.head {
  position: sticky !important;
  font-size: 15px; }

#header .navbar-nav .menu-item {
  display: flex; }
  #header .navbar-nav .menu-item .nav-item {
    transition: all .3s; }
    #header .navbar-nav .menu-item .nav-item:hover {
      color: #2250fc !important; }
  #header .navbar-nav .menu-item #shopping-cart1 {
    position: relative; }
    #header .navbar-nav .menu-item #shopping-cart1 .shopping-cart-items {
      position: absolute;
      z-index: 1;
      background: #2250fc;
      border-radius: 50%;
      font-size: 9px;
      font-weight: 600;
      height: 13px;
      line-height: 10px;
      padding: 2px 4px;
      right: 3px;
      top: 4px;
      width: 13px; }
    #header .navbar-nav .menu-item #shopping-cart1 .shopping-content {
      right: -26px;
      margin-top: -8px; }
      #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping {
        min-width: 246px;
        width: 100%;
        position: relative; }
        #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping .cart-item {
          margin-top: 8px;
          display: inline-table;
          width: 100%; }
          #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping .cart-item .cart-img {
            width: 50px;
            height: 50px;
            float: left;
            overflow: hidden;
            border-radius: 4px; }
            #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping .cart-item .cart-img img {
              width: 100%;
              vertical-align: middle;
              border-style: none; }
          #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping .cart-item .cart-product-meta {
            float: left;
            padding-left: 20px; }
          #header .navbar-nav .menu-item #shopping-cart1 .shopping-content .my_cart-shopping .cart-item .cart-item-remove {
            width: 20px;
            float: right;
            font-size: 12px; }
  #header .navbar-nav .menu-item .menu_large {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    box-shadow: 0 33px 32px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0px;
    top: 75px;
    display: none; }
    #header .navbar-nav .menu-item .menu_large .text-lg {
      font-size: 90px;
      line-height: 100px;
      font-weight: 800; }
    #header .navbar-nav .menu-item .menu_large .text-sale {
      color: #2250fc !important;
      margin: 0;
      letter-spacing: .5px; }
      #header .navbar-nav .menu-item .menu_large .text-sale small {
        font-weight: 100;
        font-size: 80%;
        opacity: 0.4; }
    #header .navbar-nav .menu-item .menu_large .shadow {
      box-shadow: 0 4px 16px #efefef;
      background-color: #fff;
      border-color: #ebebeb;
      color: #4c5667; }
    #header .navbar-nav .menu-item .menu_large .large_text {
      font-size: 62px;
      font-weight: 100;
      position: relative;
      text-align: left;
      width: 100%; }
      #header .navbar-nav .menu-item .menu_large .large_text strong {
        color: #2250fc; }
    #header .navbar-nav .menu-item .menu_large .col-lg-2-5 {
      width: 20%;
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    #header .navbar-nav .menu-item .menu_large .li-menu-title {
      font-size: 13px;
      line-height: 14px;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 12px; }
    #header .navbar-nav .menu-item .menu_large ul {
      padding: 0; }
      #header .navbar-nav .menu-item .menu_large ul li {
        list-style: none; }
        #header .navbar-nav .menu-item .menu_large ul li a {
          text-decoration: none;
          padding: 10px 0;
          font-size: 12px;
          line-height: 14px;
          font-weight: 500;
          font-style: normal;
          color: #444; }
          #header .navbar-nav .menu-item .menu_large ul li a i {
            padding: 0px 10px; }
          #header .navbar-nav .menu-item .menu_large ul li a:hover {
            color: #2250fc !important; }
  #header .navbar-nav .menu-item a {
    display: block;
    padding: 10px;
    color: #212529; }
  #header .navbar-nav .menu-item .fas {
    color: #212529; }
  #header .navbar-nav .menu-item .menu {
    list-style: none;
    position: absolute;
    left: auto;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    box-shadow: 0 33px 32px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0px;
    top: 75px;
    display: none;
    min-width: 230px; }
    #header .navbar-nav .menu-item .menu .submenu-item {
      position: relative; }
      #header .navbar-nav .menu-item .menu .submenu-item a {
        display: block;
        text-decoration: none;
        color: #212529; }
      #header .navbar-nav .menu-item .menu .submenu-item .submenu {
        list-style: none;
        left: auto;
        margin: 0;
        margin-top: -6px;
        border-radius: 4px;
        box-shadow: 0 33px 32px rgba(0, 0, 0, 0.1);
        padding: 10px;
        position: absolute;
        display: none;
        top: 10px;
        left: 100%;
        background-color: #fff;
        min-width: 230px; }
      #header .navbar-nav .menu-item .menu .submenu-item:hover .submenu {
        display: inline-block; }
    #header .navbar-nav .menu-item .menu .badge {
      font-size: 8px;
      line-height: 9px;
      margin: 5px 8px;
      color: #fff;
      align-self: flex-start;
      padding: 3px; }
  #header .navbar-nav .menu-item .menu-icon-head {
    right: 2px;
    padding: 2px 8px;
    min-width: 170px;
    list-style: none;
    position: absolute;
    left: auto;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    box-shadow: 0 33px 32px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    top: 75px;
    display: none; }
  #header .navbar-nav .menu-item:hover .menu {
    display: block; }
  #header .navbar-nav .menu-item:hover .menu-icon-head {
    display: block; }
    #header .navbar-nav .menu-item:hover .menu-icon-head a {
      color: #2250fc;
      text-decoration: none; }
  #header .navbar-nav .menu-item:hover .menu_large {
    display: block; }
    #header .navbar-nav .menu-item:hover .menu_large ul {
      padding: 15px; }
#header .navbar-nav .nav-link img:hover {
  color: #2250fc !important; }

#slider h1 {
  font-size: 73px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: .5px; }
#slider p {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
  letter-spacing: 0px;
  font-family: 'Open Sans Condensed', sans-serif; }
#slider .btn {
  border-radius: 5px 5px 5px 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: 0;
  padding: 10px 18px;
  position: relative;
  text-transform: uppercase;
  background-color: #2250fc;
  border-color: #2250fc;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px; }
#slider .bd-example {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  z-index: 1; }

#headding_text h1 {
  position: relative;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 60px;
  color: #1f1f1f;
  letter-spacing: .5px;
  text-align: center !important;
  margin-top: 60px; }
#headding_text hr {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #2250fc;
  margin-top: -30px;
  left: 0;
  right: 0; }
#headding_text p {
  font-size: 19px;
  text-align: center;
  margin-top: 30px;
  font-weight: 300; }

#polo_img .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }
#polo_img .fadeInUp {
  animation-name: fadeInUp;
  text-align: center; }
#polo_img .visible .img-fluid {
  max-width: 100%;
  height: auto; }

#feature {
  background-color: #f7f9fb; }
  #feature h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
    color: #1f1f1f;
    letter-spacing: .5px;
    margin-top: 60px; }
  #feature hr {
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #2250fc;
    margin-top: 10%; }
  #feature span {
    font-size: 19px;
    font-weight: 300;
    position: absolute;
    margin-top: 12%; }
  #feature h4 {
    color: #1f1f1f;
    margin: 0;
    letter-spacing: .5px; }
  #feature p {
    margin-top: 5px; }

#recent_work h1 {
  line-height: 56px;
  margin-bottom: 60px;
  color: #1f1f1f;
  letter-spacing: .5px;
  margin-top: 60px; }
#recent_work hr {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #2250fc;
  bottom: 20px; }
#recent_work span {
  font-size: 19px;
  font-weight: 300;
  position: absolute;
  bottom: -70px; }
#recent_work .portfolio .col-lg-3 {
  padding: 0;
  margin: 0; }
#recent_work .portfolio .hover1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 -25px;
  overflow: hidden !important; }
  #recent_work .portfolio .hover1:hover img {
    transform: scale(1.5, 1.5);
    transition: 1s;
    overflow: hidden; }
  #recent_work .portfolio .hover1:hover .cover {
    display: block; }
  #recent_work .portfolio .hover1:hover a {
    display: block; }
    #recent_work .portfolio .hover1:hover a:hover .icon {
      background-color: #2250fc;
      color: #fff; }
  #recent_work .portfolio .hover1 a {
    position: absolute;
    top: 40%;
    left: 38%;
    text-decoration: none;
    display: none; }
    #recent_work .portfolio .hover1 a h3 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: 4px; }
    #recent_work .portfolio .hover1 a span {
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      margin: 43px -14px;
      color: #fff; }
    #recent_work .portfolio .hover1 a .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      color: #565656;
      text-align: center;
      padding: 10px 0; }
  #recent_work .portfolio .hover1 img {
    width: 98%;
    height: 98%;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden; }
  #recent_work .portfolio .hover1 .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    display: none; }

#service h1 {
  font-size: 48px;
  line-height: 56px;
  color: #1f1f1f;
  letter-spacing: .5px;
  text-align: center !important;
  margin-top: 10%; }
#service hr {
  height: 2px;
  width: 100px;
  background-color: #2250fc;
  margin-top: 2%;
  margin-left: 46%; }
#service p {
  font-size: 19px;
  text-align: center !important;
  font-weight: 300;
  margin-left: 10%;
  color: #777;
  margin-top: 2%; }
#service .item:hover .icon i {
  width: 50px;
  height: 50px;
  transition: .5s;
  padding-top: 3%; }
#service .item .icon i {
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  border: 3px solid;
  padding: 9px; }
#service .item h3 {
  margin: 0 12px 10px 84px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700; }
#service .item p {
  font-size: 14px;
  line-height: 1.6;
  font-size: 14px;
  margin: 0 0px 20px 84px; }

#parallax {
  background-image: url(../img/12.jpg);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 150px !important;
  z-index: -100;
  background-size: cover !important;
  left: 0;
  overflow: hidden; }
  #parallax .overly {
    width: 100%;
    height: 500px;
    background-image: url(../img/overlay-pattern-1.png);
    position: absolute;
    top: 0;
    left: 0; }
  #parallax .text {
    box-sizing: border-box;
    color: #fff !important;
    margin-bottom: 60%;
    margin-left: 45px; }
    #parallax .text i {
      font-weight: 900;
      font-size: 3em;
      font-style: normal; }
    #parallax .text span {
      position: absolute;
      top: 53px;
      left: 60px;
      font-weight: 300;
      font-size: 30px; }
    #parallax .text hr {
      width: 10%;
      position: absolute;
      height: 1px;
      background-color: #fff;
      top: 42%;
      left: 27%; }
    #parallax .text p {
      text-align: center !important;
      position: absolute;
      top: 55%;
      left: 50px; }

#our_blog h1 {
  line-height: 56px;
  margin-bottom: 60px;
  color: #1f1f1f;
  letter-spacing: .5px;
  margin-top: 60px; }
#our_blog hr {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #2250fc;
  bottom: 110px; }
#our_blog span {
  font-size: 19px;
  font-weight: 300;
  position: absolute;
  bottom: -70px; }
#our_blog .post_item {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0; }
  #our_blog .post_item .post_image a {
    position: relative; }
    #our_blog .post_item .post_image a img {
      width: 100%; }
  #our_blog .post_item .post_image span {
    position: absolute;
    background-color: #2250fc;
    color: #fff;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 50px;
    bottom: 90px;
    right: 10px; }
  #our_blog .post_item .post_discription {
    position: relative; }
    #our_blog .post_item .post_discription .date {
      color: #c2c2c2;
      position: absolute;
      top: -10px;
      font-size: 12px;
      margin-right: 8px;
      left: 5px; }
    #our_blog .post_item .post_discription .post_commnets {
      color: #c2c2c2;
      position: absolute;
      top: -10px;
      font-size: 12px;
      left: 85px; }
      #our_blog .post_item .post_discription .post_commnets a {
        color: #c2c2c2;
        text-decoration: none; }
    #our_blog .post_item .post_discription h2 {
      margin-top: 20px; }
      #our_blog .post_item .post_discription h2 a {
        font-size: 18px;
        letter-spacing: -.1px;
        line-height: 23px;
        margin-bottom: 19px;
        color: #444;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: -.1px; }
    #our_blog .post_item .post_discription p {
      line-height: 28px;
      color: #676767; }
    #our_blog .post_item .post_discription .item_link {
      color: #565656;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase !important;
      cursor: pointer; }
      #our_blog .post_item .post_discription .item_link:hover {
        color: #2250fc;
        text-decoration: none; }
        #our_blog .post_item .post_discription .item_link:hover i {
          padding: 0 0 0 5px; }

#client h1 {
  font-size: 48px;
  line-height: 56px;
  color: #1f1f1f;
  letter-spacing: .5px;
  text-align: center !important;
  margin-top: 10%; }
#client hr {
  height: 2px;
  width: 100px;
  background-color: #2250fc;
  margin-top: 2%;
  margin-left: 46%; }
#client p {
  font-size: 19px;
  text-align: center !important;
  font-weight: 300;
  margin-left: 10%;
  color: #777;
  margin-top: 2%; }

#personal {
  background-color: #f7f9fb; }
  #personal h1 {
    font-size: 48px;
    line-height: 56px;
    color: #1f1f1f;
    letter-spacing: .5px;
    text-align: center !important;
    margin-top: 10%; }
  #personal hr {
    height: 2px;
    width: 100px;
    background-color: #2250fc;
    margin-top: 2%;
    margin-left: 46%; }
  #personal p {
    font-size: 19px;
    text-align: center !important;
    font-weight: 300;
    margin-left: 10%;
    color: #777;
    margin-top: 2%; }
  #personal .content {
    background-color: #fff !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    padding-bottom: 20px; }
    #personal .content span {
      left: 28px;
      top: 0; }
    #personal .content .team_img img {
      width: 100%;
      border-radius: 4px; }
    #personal .content h2 {
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
      margin: 0;
      letter-spacing: .5px;
      text-align: center; }
    #personal .content span {
      font-size: 13px;
      text-align: center;
      color: #bbb;
      line-height: 18px;
      display: none; }
    #personal .content p {
      font-style: normal;
      font-weight: 400;
      line-height: 1.6;
      color: #777;
      margin-top: 10px;
      font-size: 14px; }
    #personal .content .align-center {
      display: inline-flex;
      text-align: center; }
      #personal .content .align-center a {
        padding: 0px;
        border: 2px solid #fff !important;
        width: 30px;
        height: 30px;
        border-radius: 50%; }
        #personal .content .align-center a:hover {
          position: relative;
          width: 100px;
          background-color: #bbb;
          border-radius: 15px 15px 15px 15px; }
          #personal .content .align-center a:hover i {
            position: absolute;
            left: 10px;
            top: 5px;
            transition: all 0.5s;
            transform: rotate(360deg); }
          #personal .content .align-center a:hover span {
            display: block;
            position: absolute;
            left: 10px;
            top: 5px; }
        #personal .content .align-center a span {
          top: 0;
          left: 28px;
          font-size: 13px;
          color: #bbb;
          width: 100px;
          line-height: 18px;
          display: none; }
        #personal .content .align-center a .btn {
          display: flex;
          line-height: 26px;
          color: #565656;
          height: 30px;
          border-radius: 50%; }
        #personal .content .align-center a .btn-light {
          background-color: #fff;
          border-color: #ebebeb;
          color: #4c5667; }
        #personal .content .align-center a .btn-slide {
          border-radius: 50px;
          display: table-cell;
          padding: 22px;
          position: relative;
          transition: width .4s ease 0s,"background" .4s ease 0s;
          width: 46px;
          line-height: 18px; }
        #personal .content .align-center a .btn-xs {
          font-size: 10px;
          height: 24px;
          line-height: 22px; }

#footer {
  display: block;
  position: relative;
  background-color: #f8f9fa;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400; }
  #footer .foter-content {
    padding: 60px 0 40px; }
    #footer .foter-content .widget {
      margin-bottom: 30px;
      position: relative;
      top: 0;
      left: 0; }
      #footer .foter-content .widget .widget-title {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 24px;
        margin-bottom: 20px; }
      #footer .foter-content .widget .btn {
        border-radius: 5px 5px 5px 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px 18px;
        position: relative;
        text-transform: uppercase;
        background-color: #2250fc;
        border-color: #2250fc;
        border-width: 1px;
        border-style: solid;
        color: #fff;
        transition: all .3s;
        margin-bottom: 6px;
        outline: 0;
        line-height: 14px; }
      #footer .foter-content .widget .list {
        list-style: none;
        padding: 0; }
        #footer .foter-content .widget .list li a {
          color: #565656 !important; }
          #footer .foter-content .widget .list li a:hover {
            text-decoration: none;
            color: #2250fc !important; }
  #footer .copyright-content {
    min-height: 80px;
    padding: 30px 0;
    background-color: #eff1f4;
    font-size: 13px;
    text-align: center !important; }
    #footer .copyright-content .text-center a {
      color: #565656 !important;
      text-decoration: none; }

#scrollTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: gray;
  position: fixed;
  right: 26px;
  bottom: 26px;
  line-height: 0; }
  #scrollTop:hover {
    background-color: #2250fc; }
    #scrollTop:hover i {
      animation-name: move;
      animation-duration: .2s; }
  #scrollTop i {
    position: absolute;
    top: 15px;
    left: 17px;
    color: #fff;
    line-height: 20p; }

@keyframes move {
  from {
    line-height: 70px; }
  to {
    line-height: 20px; } }
#title {
  padding: 80px 0;
  background-color: #f8f9fa;
  position: relative; }
  #title .page_title {
    text-align: center;
    padding: 0; }
    #title .page_title h1 {
      font-size: 44px;
      line-height: 56px;
      font-weight: 400;
      margin-bottom: 10px; }
      #title .page_title h1 span {
        font-weight: 400;
        font-size: 14px; }
  #title .icon {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block; }
    #title .icon ul {
      display: inline;
      margin: 0;
      padding: 0; }
      #title .icon ul li {
        display: inline;
        position: relative;
        opacity: .8; }
        #title .icon ul li a {
          color: #565656;
          text-decoration: none; }

#content {
  padding: 40px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: #fff; }
  #content .sidebar label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-left: 40px; }
  #content .sidebar ul li {
    padding: 0;
    display: block;
    font-size: 14px; }
    #content .sidebar ul li a {
      color: #565656; }
  #content .right .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid red;
    margin: 30px 0; }

.accordion {
  width: 100%;
  margin: 0 auto; }
  .accordion .section1 {
    border: 1px solid #ececec;
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 5px; }
  .accordion .accordion_shadow {
    box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05); }
  .accordion .accordion_simple {
    border: none;
    border-bottom: 1px solid #ececec; }
  .accordion .accordion_flat {
    border: none; }
  .accordion .dark {
    border: none;
    background-color: #1f1f1f; }
    .accordion .dark .title:hover {
      background-color: #1f1f1f !important; }
    .accordion .dark h5, .accordion .dark i {
      color: #e3e3e3 !important; }
  .accordion .theme {
    border: none;
    background-color: #2250fc; }
    .accordion .theme .title:hover {
      background-color: #2250fc !important; }
    .accordion .theme h5, .accordion .theme i {
      color: #e3e3e3 !important; }
  .accordion .title {
    display: flex;
    justify-content: space-between;
    color: #1f1f1f;
    transition: background-color 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 4px 12px;
    border-radius: 5px; }
    .accordion .title h5 {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px; }
    .accordion .title:hover {
      background-color: #fff; }
  .accordion .content {
    box-sizing: border-box;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s; }
    .accordion .content p {
      padding: 0 20px;
      letter-spacing: 0.5px; }
  .accordion .line {
    width: 100%;
    border: 1px solid #e3e3e3;
    margin: 30px 0; }

.active {
  background-color: #fff !important; }

#heading_title {
  position: relative;
  width: 100%;
  height: 40px; }
  #heading_title .right {
    position: absolute;
    top: 10px;
    left: 20px; }
    #heading_title .right a {
      text-decoration: none;
      display: flex;
      color: #1d2124;
      font-size: 11px; }
      #heading_title .right a .phone:hover {
        color: #2250fc; }
      #heading_title .right a .email {
        margin-left: 20px; }
        #heading_title .right a .email:hover {
          color: #2250fc; }
  #heading_title .left {
    position: absolute;
    top: 10px;
    right: 20px; }
    #heading_title .left .icons {
      text-align: center; }
      #heading_title .left .icons ul {
        list-style: none;
        display: flex; }
        #heading_title .left .icons ul li a {
          position: relative;
          display: inline-block;
          font-size: 18px;
          width: 40px;
          height: 40px;
          line-height: 30px;
          color: #171515 !important;
          padding-bottom: 5px; }
          #heading_title .left .icons ul li a:hover i {
            background-color: #007ee5;
            animation-name: move_icon;
            animation-duration: .1s;
            color: #fff; }
          #heading_title .left .icons ul li a i {
            height: 100%;
            padding-top: 7px;
            padding: 5px; }

@keyframes move_icon {
  from {
    line-height: 80px; }
  to {
    line-height: 30px; } }
#title {
  padding: 80px 0;
  background-color: #f8f9fa;
  position: relative; }
  #title .page_title {
    text-align: center;
    padding: 0; }
    #title .page_title h1 {
      font-size: 44px;
      line-height: 56px;
      font-weight: 400;
      margin-bottom: 10px; }
      #title .page_title h1 span {
        font-weight: 400;
        font-size: 14px; }
  #title .icon {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block; }
    #title .icon ul {
      display: inline;
      margin: 0;
      padding: 0; }
      #title .icon ul li {
        display: inline;
        position: relative;
        opacity: .8; }
        #title .icon ul li a {
          color: #565656;
          text-decoration: none; }

#content {
  position: relative;
  width: 100%; }
  #content .sidebar label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-left: 40px; }
  #content .sidebar ul li {
    padding: 0;
    display: block;
    font-size: 14px; }
    #content .sidebar ul li a {
      color: #565656; }
  #content .item h4 {
    color: #1f1f1f;
    margin: 0;
    letter-spacing: .5px; }
  #content .btn {
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px 18px;
    position: relative;
    text-transform: uppercase;
    border-color: #2250fc;
    border-width: 1px;
    border-style: solid;
    transition: all .3s;
    margin-bottom: 6px;
    outline: 0;
    line-height: 14px; }
    #content .btn:hover {
      background-color: #2250fc;
      color: #fff; }
  #content .line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 50px 0;
    border-top: 1px solid #e3e3e3; }
  #content .btn-light {
    background-color: #fff;
    border-color: #ebebeb;
    color: #4c5667; }
    #content .btn-light:hover {
      border-color: #ebedf2;
      background-color: #f4f5f8;
      color: #4c5667; }
  #content .btn-dark {
    border-radius: 5px;
    background-color: #000;
    border-color: #000; }
    #content .btn-dark:hover {
      color: #fff;
      background-color: #23272b;
      border-color: #1d2124; }
  #content .btn-outline {
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px 18px;
    position: relative;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #2250fc;
    border-width: 1px;
    border-style: solid;
    color: #2250fc;
    transition: all .3s;
    margin-bottom: 6px;
    outline: 0;
    line-height: 14px; }
  #content .btn-rounded {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px 18px;
    position: relative;
    text-transform: uppercase;
    border-style: solid;
    transition: all .3s;
    margin-bottom: 6px;
    outline: 0;
    line-height: 14px;
    border-radius: 2em !important; }
  #content .btn-shadow {
    box-shadow: 0 4px 16px #efefef; }
  #content .btn-icon-holder {
    padding-right: 20px; }
    #content .btn-icon-holder i {
      border-left: 1px solid;
      height: 100%;
      margin-left: 30px;
      margin-right: -2px;
      padding: 5px; }
  #content .text_special {
    font-size: 50px !important;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px; }
  #content .text_build {
    margin-top: 40px;
    font-size: 1.35714286em;
    line-height: 1.68421053em; }
  #content .btn-creative {
    padding: 24px 40px;
    font-size: 15px;
    font-weight: 600; }
  #content .btn-light-hover {
    right: 58px; }
  #content .btn-light {
    background-color: #fff;
    border-color: #ebebeb;
    color: #4c5667; }
  #content .btn-facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-twitter {
    background-color: #00aced !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-linkedin {
    background-color: #007bb6 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-dribbble {
    background-color: #ea4c89 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-googleplus {
    background-color: #dd4b39 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-instagram {
    background-color: #517fa4 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-pinterest {
    background-color: #cb2027 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-dropbox {
    background-color: #007ee5 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-flickr {
    background-color: #ff0084 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-tumblr {
    background-color: #32506d !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-skype {
    background-color: #00aff0 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-youtube {
    background-color: #b00 !important;
    color: #fff !important;
    border-width: 0; }
  #content .btn-githup {
    background-color: #171515 !important;
    color: #fff !important;
    border-width: 0; }

#title {
  padding: 80px 0;
  background-color: #f8f9fa;
  position: relative; }
  #title .page_title {
    text-align: center;
    padding: 0; }
    #title .page_title h1 {
      font-size: 44px;
      line-height: 56px;
      font-weight: 400;
      margin-bottom: 10px; }
      #title .page_title h1 span {
        font-weight: 400;
        font-size: 14px; }
  #title .icon {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block; }
    #title .icon ul {
      display: inline;
      margin: 0;
      padding: 0; }
      #title .icon ul li {
        display: inline;
        position: relative;
        opacity: .8; }
        #title .icon ul li a {
          color: #565656;
          text-decoration: none; }

#main .item h2 {
  margin: 30px 0; }
#main .item p {
  margin-top: 20px; }
#main .item .fuild {
  max-width: 100%;
  height: auto; }
#main .item .rounded {
  border-radius: 5px !important; }
#main .item .rounded-circle {
  border-radius: 50% !important; }
#main .item .rounded-Thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto; }

.date_title {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  height: 52px;
  line-height: 48px; }
  .date_title nav {
    background-color: #fff;
    text-align: center; }
    .date_title nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative; }
      .date_title nav ul li {
        transition: all .3s ease;
        position: relative;
        border: 0;
        display: inline-block;
        float: none;
        padding: 0 2px; }
        .date_title nav ul li a {
          position: relative;
          padding: 6px 16px;
          font-size: 13px;
          line-height: 12px;
          color: #565656;
          border-radius: 50px;
          transition: all .2s ease;
          border-width: 2px;
          border-style: solid;
          border-color: transparent;
          font-weight: 500; }
          .date_title nav ul li a:hover {
            color: #007ee5;
            text-decoration: none; }

.input {
  position: relative; }
  .input .input_content {
    border-radius: 0;
    box-shadow: none;
    line-height: 18px;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #ececec;
    font-size: 1rem; }
  .input .icon_calendar {
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 1px;
    background-color: #e9ecef;
    color: tan; }

#data-table {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  height: 52px;
  line-height: 48px; }
  #data-table nav {
    background-color: #fff;
    text-align: center; }
    #data-table nav .menyu-ul {
      display: flex;
      list-style: none;
      position: absolute;
      left: 21%; }
      #data-table nav .menyu-ul .menyu-li {
        margin: 6px 0 0 20px; }
        #data-table nav .menyu-ul .menyu-li:hover .menu-small {
          display: block; }
        #data-table nav .menyu-ul .menyu-li .menyu-a {
          color: #1d2124;
          text-decoration: none;
          font-size: 14px; }
          #data-table nav .menyu-ul .menyu-li .menyu-a:hover {
            color: #007bb6; }
      #data-table nav .menyu-ul .menu-small {
        position: absolute;
        left: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 33px 32px;
        background-color: white;
        top: 57px;
        display: none;
        min-width: 195px;
        list-style: none;
        margin: -6px 0px 0px;
        border-radius: 4px;
        padding: 0px;
        text-align: left;
        padding-left: 20px; }
        #data-table nav .menyu-ul .menu-small a {
          text-decoration: none;
          color: #1d2124; }

/*# sourceMappingURL=style.css.map */
